//input[type=checkbox]:checked,
//input[type=checkbox][checked]
//{
//	@extend .icon-check-square-o;
//}

input[type=checkbox]
{
//	@extend .icon-square-o;
//	@extend .icon-base;
//
//	line-height: inherit;
//	visibility: hidden;

	width: auto !important;

//	&::before
//	{
//		visibility: visible;
//	}
}