templatecontrolproperties
{
	background-color: $controlBackgroundColor;
	border: 1px solid $borderColor;

	bottom: 82px;
	display: block;
	font-family: 'Droid Sans';
	padding-top: 24px;
	position: fixed;
	right: 0;
	top: 85px;
	z-index: 5000;

	> .quick-navigation-container
	{
		position: fixed;
		background-color: #eaeaea;
		width: 100%;
		margin-top: -20px;
		margin-left: 2px;
		
		> a
		{
			display: inline-block;
			width: 16px;
			height: 16px;
			cursor: pointer;
			background-repeat: no-repeat;

			&[data-navigateTo="Layout"]
			{
				background-image: url(../Images/layouticon.png);
			}

			&[data-navigateTo="FontAndColors"]
			{
				background-image: url(../Images/fontandcolorsicon.png);
			}

			&[data-navigateTo="Padding"]
			{
				background-image: url(../Images/paddingicon.png);
			}

			&[data-navigateTo="Border"]
			{
				background-image: url(../Images/bordericon.png);
			}

			&[data-navigateTo="Shadows"]
			{
				background-image: url(../Images/shadowsicon.png);
			}

			&[data-navigateTo="Background"]
			{
				background-image: url(../Images/backgroundicon.png);
			}

			&[data-navigateTo="Content"]
			{
				background-image: url(../Images/contenticon.png);
			}
		}
	}

	> .template-control-properties-container
	{
		border-radius: inherit;
		font-size: 13px;
		height: 100%;
		overflow: auto;
		position: static;
		width: 200px;
		min-width: 200px;

		.property-container > div
		{
			margin-bottom: 5px;
		}

		/*reduces the right margin of the content scroller*/	
		.mCSB_container
		{
			margin-right: 10px;
		}

		label
		{
			display: inline-block;
			width: 100px;
		}

		label+*
		{
			display: inline-block;
			width: 100%;
			max-width: 300px;
		}

		@for $i from 2 through 7
		{
			.columns-#{$i}
			{
				font-size: 0;
				> *
				{
					font-size: 0.75rem;

					width: 100%/$i - ($i - 1)/$i * 1%;
					margin-right: ($i - 1)/$i * 1%;
				}

				&:last-child
				{
					margin-right: 0;
				}
			}
		}

		fieldset
		{
			margin-right: 5px;
		
			> legend
			{
				font-size: 16px;
				font-weight: bold;				
				margin: 0;
				padding-right: 5px;
				white-space: nowrap;
				width: auto;				
			}
		}
	}
}

/*EditContent specific rules*/
.edit-content templatecontrolproperties
{
	top: 44px;
	padding-top: 0px;

	>
	{
		.quick-navigation-container,
		.template-control-properties-container fieldset
		{
			display: none;
		}
		
		.template-control-properties-container fieldset[name="Content"]
		{
			display: block;
		}
	}
}