templatecontrolactions
{
	bottom: 80px;
	font-family: 'Droid Sans';
	left: -2px;
	overflow: visible;
	position: fixed;
	top: 120px;
	width: 1px;	
	z-index: 9999;
		
	.primary-action,
	.secondary-action
	{
		display: inline-block;
		float: right;
		padding-left: 20px;
		transition: all 0.3s;
		-webkit-transform: translate3d(34px, 0, 0);
		transform: translate3d(34px, 0, 0);
		white-space: nowrap;
		margin-bottom: 10px;

		&:hover
		{
			overflow: visible;
			width: auto;
			-webkit-transform: translate3d(100%, 0, 0);
			transform: translate3d(100%, 0, 0);
		}

		> span[class^="icon-"]
		{
			margin-left: 10px;
			vertical-align: inherit;
		}
	}

	.secondary-action
	{
		font-size: 0.75rem;
		padding: 8px;
		-webkit-transform: translate3d(25px, 0, 0);
		transform: translate3d(25px, 0, 0);
	}
}