@import "Reset";

@import "bourbon";
@import "neat";

@import "Branding";
@import "Font";
@import "Button";
@import "Checkbox";
@import "DropdownList";
@import "TextBox";

@import "ControlPlugins";
@import "TemplateResolutions";
@import "TemplateControlActions";
@import "TemplateControlProperties";
@import "TreeView";
@import "ButtonDropdown";

html
{
	height: 100%;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
}

body
{
	background-image: url(../Images/Background.png);
}

.button-container
{
	background-color: $controlBackgroundColor;
	bottom: 0;
	font-family: "Droid Sans";
	padding: 20px;
	position: fixed;	
	width: 100%;
	z-index: 9999;

	.default-button,
	.danger-button
	{
		font-size: 14px;
	}
}

templaterenderer
{
	display: block;
	position: absolute;
	top: 100px;
	bottom: 70px;
	overflow: auto;
	left: 0px;
	right: 0px;
	height: auto;
	padding-left: 40px;
}

.template
{
	margin-top: 20px;
	max-width: 1024px;
	min-height: 400px;
	box-shadow: 0px 0px 20px 1px #333;
	margin-bottom: 50px;
	background-image: url(../Images/grid.png);

	> .template-control
	{
		cursor: default;
	
		&::after
		{
			position: absolute;
			content: "";
			box-shadow: none;
			transition: box-shadow 0.3s;
			display: block;
		}

		&:hover::before,
		&.ui-resizable-resizing::before
		{
			position: absolute;
			left: 0px;
			bottom: 100%;
			display: block;
			border: 1px solid rgba(213, 213, 213, 1);
			border-bottom: none;
			border-radius: 0px 4px 0px 0px;
			padding: 2px;
			background-color: #eaeaea;
			font-size: 12px;
			font-family: Arial;
			color: black;
			z-index: 1001;
			font-weight: normal;
			text-shadow: none;
			letter-spacing: normal;
		}

		&.hidden
		{
			display: table;
			opacity: 0.1;
		}
		
		&.selected::after
		{
			border-radius: inherit;
			-webkit-border-radius: initial;
			left: 0;
			top: 0;
			bottom: 0;
			border: 0;
			width: 100%;
			height: auto;
			pointer-events: none;
			box-shadow: 0px 0px 1px 1px #3F607F, 0px 0px 10px 1px #3F607F;
		}

		/*Disable clicks on links in editing mode*/
		a
		{
			pointer-events: none;
		}
		
		&[data-friendly-name]:hover::before,
		&[data-friendly-name].ui-resizable-resizing::before
		{
			content: attr(data-friendly-name) " - " attr(data-control-name);
		}

		&[data-friendly-name=""]:hover::before,
		&[data-friendly-name=""].ui-resizable-resizing::before
		{
			content: attr(data-control-name);
		}

		&.fixed
		{
			margin-left: 40px;
			margin-top: 220px;
		}
	}
}

.show-hidden-elements .template-control[style*="display"]
{
	display: table !important;
	opacity: 0.3 !important;
	outline: 10px dotted red !important;
	background-color: #bbb !important;
}

.animatable .template > .template-control
{
	transition: all 0.3s;
}

/* EditDesign specific rules */
.edit-design .template > .template-control
{
	background-color: rgba(200, 200, 200, 0.4);

	&.ui-resizable-resizing,
	&.ui-draggable-dragging
	{
		transition: none;
	}

	&.selected
	{
		z-index: 1000;
		cursor: move;
	}

	&.ui-draggable-dragging
	{
		opacity: 0.5;
		z-index: 1000;
	}
}

.direct-mode-editing-disabled
{
	.edit-design .template > .template-control
	{
		&.selected .ui-resizable-handle
		{
			display: block !important;
		}

		.ui-resizable-handle
		{
			display: none !important;
		}
	}
}



/* EditContent specific rules */
.edit-content
{
	templaterenderer
	{
		top: 50px;
	}

	.template
	{
		background-image: none;
		background-color: white;
	}
}

/*FLOW LAYOUT RULES*/
.template.flow > .template-control
{
	display: inline-table;
	position: static;
	vertical-align: top;
	transition: none;
}
