<div>
	<label ng-bind="::Localization.Component.YouTube.VideoId"></label>
	<input type="text" ng-model="Content.VideoId" ng-attr-placeholder="{{::Localization.Component.YouTube.VideoIdPlaceHolder}}" />
</div>
<div>
	<label ng-bind="::Localization.Component.YouTube.StartTime"></label>
	<input type="text" ng-model="Content.StartTime" />
</div>

<div>
	<label ng-bind="::Localization.Component.YouTube.AutoPlay"></label>
	<input type="checkbox" ng-model="Content.AutoPlay" />
</div>

<div>
	<label ng-bind="::Localization.Component.YouTube.ShowControls"></label>
	<input type="checkbox" ng-model="Content.ShowControls" />
</div>

<div>
	<label ng-bind="::Localization.Component.YouTube.DisableKeyboard"></label>
	<input type="checkbox" ng-model="Content.DisableKeyboard" />
</div>

<div>
	<label ng-bind="::Localization.Component.YouTube.HideYouTubeBrand"></label>
	<input type="checkbox" ng-model="Content.HideYouTubeBrand" />
</div>

<div>
	<label ng-bind="::Localization.Component.YouTube.ShowInfo"></label>
	<input type="checkbox" ng-model="Content.ShowVideoInfo" />
</div>