<div>
	<label ng-bind="::localization.component.youTube.videoId"></label>
	<input type="text" ng-model="content.videoId" ng-attr-placeholder="{{::localization.component.youTube.videoIdPlaceHolder}}" />
</div>
<div>
	<label ng-bind="::localization.component.youTube.startTime"></label>
	<input type="text" ng-model="content.startTime" />
</div>

<div>
	<label ng-bind="::localization.component.youTube.autoPlay"></label>
	<input type="checkbox" ng-model="content.autoPlay" />
</div>

<div>
	<label ng-bind="::localization.component.youTube.showControls"></label>
	<input type="checkbox" ng-model="content.showControls" />
</div>

<div>
	<label ng-bind="::localization.component.youTube.disableKeyboard"></label>
	<input type="checkbox" ng-model="content.disableKeyboard" />
</div>

<div>
	<label ng-bind="::localization.component.youTube.hideYouTubeBrand"></label>
	<input type="checkbox" ng-model="content.HideYouTubeBrand" />
</div>

<div>
	<label ng-bind="::localization.component.youTube.showInfo"></label>
	<input type="checkbox" ng-model="content.showVideoInfo" />
</div>