.template > .template-control .album
{
	width: 100%;
	height: 100%;

	a
	{
		width: 100px;
		height: 100px;
		display: inline-block;
		overflow: hidden;
		margin-right: 5px;

		> img
		{
			min-width: 100px;
			min-height: 100px;
		}
	}
}