.template > .template-control .article-list
{
	img[data-ng-src='']
	{
		display: none;
	}

	//Default styling
	> div
	{
		margin-bottom: 40px;
		> a:first-child
		{
			position: relative;
			display: inline-block;
			width: 100%;
			background-color: black;
			cursor: pointer;
				
			/*Bugfix for Firefox - without this the image jitters when opacity is reduced to < 1.0*/
			-moz-backface-visibility: hidden;

			&::after
			{
				content: "\e032";
				position: absolute;
				opacity: 0;
				top: 50%;
				left: 0px;
				-webkit-transform: scale(0.5) translateY(-50%);
				transform: scale(0.5) translateY(-50%);
				width: 100%;
				font-size: 24px;
				color: white;
				text-align: center;
				font-family: "Glyphicons Halflings";
				transition: all 0.4s;
			}

			&:hover::after
			{
				opacity: 1;
				-webkit-transform: scale(1) translateY(-50%);
				transform: scale(1) translateY(-50%);
			}

			&:hover img
			{
			opacity: 0.5;
			}
		}	

		> span
		{
			padding: 0px 20px;
		}


		> .title
		{
			display: block;
			padding: 10px 20px;
			color: #444;
			font-size: 15px;
		}

		.description
		{
			margin-top: 15px;
			color: #333;
			font-size: 13px;
		}

		img
		{
			max-width: 100%;
			width: 100%;
			height: auto;
			transition: all 0.4s ease 0s;
			-moz-backface-visibility: hidden;
		}
	}
	
	/* LIST type */
	&.list
	{
		> div
		{
			> a:first-child,
			img
			{
				max-height: 330px;
			}

			> .DescriptionContainer
			{
				font-size: 13px;
			}
		}
	}

	//CompactList type
	&.compact-list
	{		
		padding: 15px 10px;
		
		> div
		{
			position: relative;
			border-bottom: 1px solid #f2f2f2;
			padding-bottom: 15px;
			margin-bottom: 10px;

			&:last-child
			{
				border-bottom: 0px;
			}

			> a:first-child,
			img
			{
				max-width: 55px;
				max-height: 55px;
			}

			> a:first-child
			{
				display: inline-block;
				vertical-align: top;
				box-shadow: 0px 0px 2px 2px #b5b5b5;
				outline: 2px solid white;
			}
	
			> .description-container
			{
				display: block;
				position: absolute;
				top: 20px;
				padding-left: 60px;
				
				> .description,
				> a
				{
					display: none;
				}
			}
		
			> .title
			{
				display: inline-block;
				padding: 0px;
				padding-left: 5px;
				font-size: 13px;
			}
		}
	}

	//DetailedList type
	&.detailed-list
	{
		background-color: #F7F7F7;
		height: 100%;

		> div
		{
			position: relative;
			margin-bottom: 0px;
			padding: 8px 20px;

			border-top: 1px solid white;
			border-bottom: 1px solid #EAEAEA;

			&:first-child
			{
				background-color: white;
				margin-bottom: 5px;
				border-bottom: none;
				padding: 20px;

				> a:first-child,
				img
				{
					max-width: 100%;
					max-height: 125px;
				}

				> .description-container
				{
					position: static;
					padding-left: 0px;
					min-height: 40px;
					
					> *
					{
						display: initial;
						font-size: 12px;
					}
				}

				> .title
				{
					font-size: 20px;
					padding-left: 0px;
					margin-left: -2px;
					padding-top: 10px;
				}
			}

			&:last-child
			{
				border-bottom: none;
			}
			
			> a:first-child
			{
				box-shadow: 0px 0px 2px 2px #b5b5b5;
				outline: 2px solid white;
			}

			> a:first-child,
			img
			{
				vertical-align: top;
				max-width: 55px;
				max-height: 55px;
			}

			> .description-container
			{
				display: block;
				position: absolute;
				top: 20px;
				padding-left: 60px;
				
				> *
				{
					display: none;
				}
			}

			> .title
			{
				display: inline-block;
				padding: 0px;

				font-size: 13px;
				font-weight: normal;
				padding-left: 10px;
			}
		}
	}


	//Thumbnail type
	&.thumbnails
	{
		> div
		{
			margin: 0px 5px 5px;
			display: inline-block;

			> a:first-child,
			img
			{
				max-width: 55px;
				max-height: 55px;
			}

			> *
			{
				display: none;
			}
		}
	}
}