.template > .template-control .menu
{
	display: table-cell;
	height: 100%;

	> a
	{
		color: inherit;
		display: inline-block;
		height: 100%;
		text-decoration: none;

		&:first-child
		{
			margin-left: 0px;
		}

		> span
		{
			display: block;
			padding-left: 20px;
			padding-right: 20px;
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 100%;
		}
	}
}