.template > .template-control .rss
{
	> ul
	{
		list-style: none;
		padding: 0px;
		margin: 0px;
		
		> li
		{
			margin: 0px 0px 10px 0px;
		}
			
		> .date
		{
			font-size: 10px;
			font-style: italic;
			color: #999;
		}

		> a
		{
			display: block;
		}
	}
}