<div class="component-properties-container" ng-show="selectedComponent">
  <!--Generic-->
  <fieldset name="generic">
    <legend ng-bind="::localization.componentProperties.generic"></legend>
    <div class="property-container" ng-include="::getEditorPath('Generic')"></div>
  </fieldset>

  <!--layout-->
  <fieldset name="layout">
    <legend ng-bind="::localization.componentProperties.layout"></legend>
    <div class="property-container" ng-include="::getEditorPath('layout')"></div>
  </fieldset>

  <!--fontAndColors-->
  <fieldset name="fontAndColors">
    <legend ng-bind="::localization.componentProperties.fontAndColors"></legend>
    <div class="property-container" ng-include="::getEditorPath('fontAndColors')"></div>
  </fieldset>

  <!--padding-->
  <fieldset name="padding">
    <legend ng-bind="::localization.componentProperties.padding"></legend>
    <div class="property-container" ng-include="::getEditorPath('padding')"></div>
  </fieldset>

  <!--border-->
  <fieldset name="border">
    <legend ng-bind="::localization.componentProperties.border"></legend>
    <div class="property-container" ng-include="::getEditorPath('border')"></div>
  </fieldset>

  <!--shadows-->
  <fieldset name="shadows">
    <legend ng-bind="::localization.componentProperties.shadows"></legend>
    <div class="property-container" ng-include="::getEditorPath('shadows')"></div>
  </fieldset>

  <!--background-->
  <fieldset name="background">
    <legend ng-bind="::localization.componentProperties.background"></legend>
    <div class="property-container" ng-include="::getEditorPath('background')"></div>
  </fieldset>

  <!--Content-->
  <fieldset name="content" ng-if="hasEditor">
    <legend ng-bind="::localization.componentProperties.content"></legend>
    <div class="property-container" ng-include="editorViewPath" ng-controller-controller="editorController"></div>
  </fieldset>
</div>