<div class="edit-content">
  <cs-templateresolutions></cs-templateresolutions>
  <cs-componentactions></cs-componentactions>
  <cs-componentproperties></cs-componentproperties>
  <cs-template cs-autosizetemplate template-mode="editContent"></cs-template>
</div>

<div class="button-container">
  <a class="default-button" ng-click="save()" ng-bind="::localization.generic.save"></a>
  <a class="default-button" ng-click="saveExit()" ng-bind="::localization.generic.saveExit"></a>
  <a class="danger-button" ng-click="exit()" ng-bind="::localization.generic.exit"></a>
</div>