<div ng-controller="Cerberus.TemplateEditor.Controller.Design">
  <link ng-href="{{applicationBasePath}}css/templateeditor.css" rel="stylesheet" />
  <cs-componentplugins></cs-componentplugins>
  <cs-templateresolutions></cs-templateresolutions>
  <cs-componentactions></cs-componentactions>
  <cs-componentproperties></cs-componentproperties>

  <div class="edit-design">
    <cs-template cs-droppable cs-componentselection cs-togglehiddenelements cs-autosizetemplate template-mode="editDesign"></cs-template>
  </div>

  <div class="button-container">
    <a class="default-button" ng-click="save()" ng-bind="::localization.generic.save"></a>
    <a class="default-button" ng-click="saveExit()" ng-bind="::localization.generic.saveExit"></a>
    <a class="danger-button" ng-click="exit()" ng-bind="::localization.generic.exit"></a>
  </div>

  <cs-messagedialog></cs-messagedialog>
</div>