<div class="resolution-container">
	<cs-buttondropdown
		datasource="Template.Resolutions"
		limit="Template.Resolutions.length"
		on-item-click="RemoveResolution"
		disabled="Template.Resolutions.length === 1"
		datatextfield="ResolutionValue">
		<span class="icon-trash-o"></span>
	</cs-buttondropdown>

	<div class="resolutions">
		<div class="resolution"
			 ng-repeat="resolution in Template.Resolutions | orderBy: 'ResolutionValue':true"
			 ng-class="::{ 'default': resolution.ResolutionValue > MaxResolutionValue }"
			 style="width: {{ resolution.ResolutionValue }}px;"
			 ng-bind="::resolution.ResolutionValue <= MaxResolutionValue ? resolution.ResolutionValue + ' px' : 'Desktop'"
			 ng-click="SetDocumentWidth(resolution.ResolutionValue)"
			 title="{{resolution.ResolutionValue <= MaxResolutionValue ? resolution.ResolutionValue + ' px' : 'Desktop'}}">
		</div>
	</div>
</div>

<div class="resolution-slider-container">
	<cs-buttondropdown
		datasource="ResolutionPresets"
		on-command-click="AddResolution"
		on-item-click="AddResolution"
		datatextfield="Name">
		+
	</cs-buttondropdown>
	<div class="resolution-slider"></div>
</div>