<div ng-show="ShowTemplateEditorActions && SelectedControls.length > 0">
	<a class="danger-button primary-action" ng-click="RemoveSelectedTemplateControls()">
		<span ng-bind="::Localization.TemplateControlActions.RemoveSelectedTemplateControls"></span>
		<span class="icon-trash-o"></span>
	</a>

	<div ng-show="Template.Resolutions.length > 1">
		<a class="setting-button secondary-action" ng-click="DistributeResolutionPropertiesToAllResolutions()" ng-show="Template.Resolutions.length > 2">
			<span ng-bind="::Localization.TemplateControlActions.DistributeVisualPropertiesToAllResolutions"></span>
			<span class="icon-angle-double-right"></span>
		</a>

		<a class="setting-button secondary-action" ng-click="DistributeResolutionPropertiesToHigherResolutions()" ng-show="ResolutionIndex >= 0 && ResolutionIndex < Template.Resolutions.length - 1">
			<span ng-bind="::Localization.TemplateControlActions.DistributeVisualPropertiesToHigherResolutions"></span>
			<span class="icon-angle-up"></span>
		</a>

		<a class="setting-button secondary-action" ng-click="DistributeResolutionPropertiesToLowerResolutions()" ng-show="ResolutionIndex > 0 && ResolutionIndex < Template.Resolutions.length">
			<span ng-bind="::Localization.TemplateControlActions.DistributeVisualPropertiesToLowerResolutions"></span>
			<span class="icon-angle-down"></span>
		</a>
	</div>
</div>

<!--<div ng-show="ShowTemplateEditorActions">
	<a class="btn btn-primary">
		<span>Change Render Order</span>
		<span class="glyphicon glyphicon-sort-by-order"></span>
	</a>
</div>-->

<div ng-show="ShowTemplateEditorActions && HiddenControls > 0">
	<a class="setting-button secondary-action" ng-click="ToggleHiddenElements()">
		<input type="checkbox" ng-model="ShowHiddenElements" />
		<span ng-bind="::Localization.TemplateControlActions.ShowHiddenControls"></span>
		<span class="icon-eye-slash"></span>
	</a>
</div>

<!--<div ng-show="ShowContentEditorActions && SelectedControls.length > 0">
	<a class="btn btn-danger">
		<span>Restore content to template default</span>
		<span class="glyphicon glyphicon-repeat"></span>
	</a>
</div>-->
