<div class="edit-design">
	<controlplugins></controlplugins>
	<templateresolutions></templateresolutions>
	<templatecontrolactions></templatecontrolactions>
	<templatecontrolproperties></templatecontrolproperties>
	<templaterenderer cs-droppable cs-toggle-hidden-elements cs-autosize-template template-mode="EditDesign"></templaterenderer>
</div>

<div class="button-container">
	<a class="default-button" ng-click="Save()" ng-bind="::Localization.Generic.Save"></a>
	<a class="default-button" ng-click="SaveExit()" ng-bind="::Localization.Generic.SaveExit"></a>
	<a class="danger-button" ng-click="Exit()" ng-bind="::Localization.Generic.Exit"></a>
</div>

<messagedialog></messagedialog>