<div>
	<label ng-bind="::Localization.TemplateControlPlugin.YouTube.VideoId"></label>
	<input type="text" ng-model="ControlData.VideoId" ng-attr-placeholder="{{::Localization.TemplateControlPlugin.YouTube.VideoIdPlaceHolder}}" />
</div>
<div>
	<label ng-bind="::Localization.TemplateControlPlugin.YouTube.StartTime"></label>
	<input type="text" ng-model="ControlData.StartTime" />
</div>

<div>
	<label ng-bind="::Localization.TemplateControlPlugin.YouTube.AutoPlay"></label>
	<input type="checkbox" ng-model="ControlData.AutoPlay" />
</div>

<!--<label ng-bind="::Localization.TemplateControlPlugin.YouTube.LoopInfinitely"></label>
<input type="checkbox" ng-model="ControlData.LoopInfinitely" />
<br/>-->

<div>
	<label ng-bind="::Localization.TemplateControlPlugin.YouTube.ShowControls"></label>
	<input type="checkbox" ng-model="ControlData.ShowControls" />
</div>

<div>
	<label ng-bind="::Localization.TemplateControlPlugin.YouTube.DisableKeyboard"></label>
	<input type="checkbox" ng-model="ControlData.DisableKeyboard" />
</div>

<div>
	<label ng-bind="::Localization.TemplateControlPlugin.YouTube.HideYouTubeBrand"></label>
	<input type="checkbox" ng-model="ControlData.HideYouTubeBrand" />
</div>

<div>
	<label ng-bind="::Localization.TemplateControlPlugin.YouTube.ShowInfo"></label>
	<input type="checkbox" ng-model="ControlData.ShowVideoInfo" />
</div>