<div class="two columns">
  <label ng-bind="::localization.componentProperties.topLeft"></label>
  <cs-unitfield model="visualProperties.borderTopLeftRadius"></cs-unitfield>

  <label ng-bind="::localization.componentProperties.topRight"></label>
  <cs-unitfield model="visualProperties.borderTopRightRadius"></cs-unitfield>
</div>

<div class="two columns">
  <label ng-bind="::localization.componentProperties.bottomLeft"></label>
  <cs-unitfield model="visualProperties.borderBottomLeftRadius"></cs-unitfield>

  <label ng-bind="::localization.componentProperties.bottomRight"></label>
  <cs-unitfield model="visualProperties.borderBottomRightRadius"></cs-unitfield>
</div>