<div>
	<label ng-bind="::localization.componentProperties.top"></label>
	<div class="three columns">
		<cs-unitfield model="visualProperties.borderTopWidth" placeholder="{{::localization.componentProperties.width}}"></cs-unitfield>
		<input type="text" ng-model="visualProperties.borderTopColor" placeholder="{{::localization.componentProperties.color}}" />
		<select ng-model="visualProperties.borderTopStyle" ng-options="item.value as item.name for item in ::borderStyles"></select>
	</div>
</div>

<div>
	<label ng-bind="::localization.componentProperties.right"></label>
	<div class="three columns">
		<cs-unitfield model="visualProperties.borderRightWidth" placeholder="{{::localization.componentProperties.width}}"></cs-unitfield>
		<input type="text" ng-model="visualProperties.borderRightColor" placeholder="{{::localization.componentProperties.color}}" />
		<select ng-model="visualProperties.borderRightStyle" ng-options="item.value as item.name for item in ::borderStyles"></select>
	</div>
</div>

<div>
	<label ng-bind="::localization.componentProperties.bottom"></label>
	<div class="three columns">
		<cs-unitfield model="visualProperties.borderBottomWidth" placeholder="{{::localization.componentProperties.width}}"></cs-unitfield>
		<input type="text" ng-model="visualProperties.borderBottomColor" placeholder="{{::localization.componentProperties.color}}" />
		<select ng-model="visualProperties.borderBottomStyle" ng-options="item.value as item.name for item in ::borderStyles"></select>
	</div>
</div>

<div>
	<label ng-bind="::localization.componentProperties.left"></label>
	<div class="three columns">
		<cs-unitfield model="visualProperties.borderLeftWidth" placeholder="{{::localization.componentProperties.width}}"></cs-unitfield>
		<input type="text" ng-model="visualProperties.borderLeftColor" placeholder="{{::localization.componentProperties.color}}" />
		<select ng-model="visualProperties.borderLeftStyle" ng-options="item.value as item.name for item in ::borderStyles"></select>
	</div>
</div>

<div>
	<label ng-bind="::localization.componentProperties.borderRadius"></label>
	<div class="four columns">
		<cs-unitfield model="visualProperties.borderTopLeftRadius" placeholder="{{::localization.componentProperties.topLeft}}"></cs-unitfield>
		<cs-unitfield model="visualProperties.borderTopRightRadius" placeholder="{{::localization.componentProperties.topRight}}"></cs-unitfield>
		<cs-unitfield model="visualProperties.borderBottomRightRadius" placeholder="{{::localization.componentProperties.bottomRight}}"></cs-unitfield>
		<cs-unitfield model="visualProperties.borderBottomLeftRadius" placeholder="{{::localization.componentProperties.bottomLeft}}"></cs-unitfield>
	</div>
</div>