<div class="two columns">
  <label ng-bind="::localization.componentProperties.color"></label>
  <input type="text" ng-model="visualProperties.boxShadow.color" />

  <label ng-bind="::localization.componentProperties.shadowType"></label>
  <select ng-model="visualProperties.boxShadow.inset" class="dropdown-list" ng-options="shadowOption.value as shadowOption.name for shadowOption in ::shadowOptions"></select>
</div>

<div class="two columns">
  <label ng-bind="::localization.componentProperties.horizontalOffset"></label>
  <cs-unitfield model="visualProperties.boxShadow.hShadow"></cs-unitfield>

  <label ng-bind="::localization.componentProperties.verticalOffset"></label>
  <cs-unitfield model="visualProperties.boxShadow.vShadow"></cs-unitfield>
</div>

<div class="two columns">
  <label ng-bind="::localization.componentProperties.blurRadius"></label>
  <cs-unitfield model="visualProperties.boxShadow.blurRadius"></cs-unitfield>

  <label ng-bind="::localization.componentProperties.spreadRadius"></label>
  <cs-unitfield model="visualProperties.boxShadow.spreadRadius"></cs-unitfield>
</div>