<div>
  <label ng-bind="Localization.ComponentProperties[IsTransposedHorizontal ? 'Right' : 'Left']" ng-click="Transpose('IsTransposedHorizontal', 'left', 'right')"></label>
  <input type="text" ng-model="VisualProperties[IsTransposedHorizontal ? 'right' : 'left' ]" />

  <label ng-bind="Localization.ComponentProperties[IsTransposedVertical ? 'Bottom' : 'Top']" ng-click="Transpose('IsTransposedVertical', 'top', 'bottom')"></label>
  <input type="text" ng-model="VisualProperties[IsTransposedVertical ? 'bottom' : 'top' ]" />
</div>

<div>
  <label ng-bind="::Localization.ComponentProperties.Width"></label>
  <input type="text" ng-model="VisualProperties.width" />

  <label ng-bind="::Localization.ComponentProperties.Height"></label>
  <input type="text" ng-model="VisualProperties.height" />
</div>

<div>
  <label ng-bind="::Localization.ComponentProperties.MinWidth"></label>
  <input type="text" ng-model="VisualProperties.minWidth" />
</div>

<div>
  <label ng-bind="::Localization.ComponentProperties.MinHeight"></label>
  <input type="text" ng-model="VisualProperties.minHeight" />
</div>

<div>
  <label ng-bind="::Localization.ComponentProperties.RotateZ"></label>
  <input type="text" ng-model="VisualProperties.transform.rotateZ" placeholder="{{::Localization.ComponentProperties.RotateZPlaceHolder}}" />
</div>