<div class="two columns">
  <label ng-bind="::localization.componentProperties.top"></label>
  <cs-unitfield model="visualProperties.paddingTop"></cs-unitfield>

  <label ng-bind="::localization.componentProperties.right"></label>
  <cs-unitfield model="visualProperties.paddingRight"></cs-unitfield>
</div>

<div class="two columns">
  <label ng-bind="::localization.componentProperties.bottom"></label>
  <cs-unitfield model="visualProperties.paddingBottom"></cs-unitfield>

  <label ng-bind="::localization.componentProperties.left"></label>
  <cs-unitfield model="visualProperties.paddingLeft"></cs-unitfield>
</div>