<div>
	<div class="four columns">
		<input type="text" ng-model="VisualProperties.paddingTop" placeholder="{{::Localization.ComponentProperties.Top}}" />
		<input type="text" ng-model="VisualProperties.paddingRight" placeholder="{{::Localization.ComponentProperties.Right}}" />
		<input type="text" ng-model="VisualProperties.paddingBottom" placeholder="{{::Localization.ComponentProperties.Bottom}}" />
		<input type="text" ng-model="VisualProperties.paddingLeft" placeholder="{{::Localization.ComponentProperties.Left}}" />
	</div>
</div>