<div>
  <label ng-bind="::localization.componentProperties.textShadow"></label>
  <div class="four columns">
    <input type="text" ng-model="visualProperties.textShadow.color" title="{{::localization.componentProperties.color}}" placeholder="{{::localization.componentProperties.color}}" />
    <input type="text" ng-model="visualProperties.textShadow.hShadow" title="{{::localization.componentProperties.horizontalOffset}}" placeholder="{{::localization.componentProperties.horizontalOffset}}" />
    <input type="text" ng-model="visualProperties.textShadow.vShadow" title="{{::localization.componentProperties.verticalOffset}}" placeholder="{{::localization.componentProperties.verticalOffset}}" />
    <input type="text" ng-model="visualProperties.textShadow.blurRadius" title="{{::localization.componentProperties.blurRadius}}" placeholder="{{::localization.componentProperties.blurRadius}}" />
  </div>
</div>

<div>
  <label ng-bind="::localization.componentProperties.boxShadow"></label>
  <div>
    <input type="text" ng-model="visualProperties.boxShadow.color" title="{{::localization.componentProperties.color}}" placeholder="{{::localization.componentProperties.color}}" />
  </div>
</div>

<div>
  <div class="two columns">
    <cs-unitfield model="visualProperties.boxShadow.hShadow" placeholder="{{::localization.componentProperties.horizontalOffset}}"></cs-unitfield>
    <cs-unitfield model="visualProperties.boxShadow.vShadow" placeholder="{{::localization.componentProperties.verticalOffset}}"></cs-unitfield>
  </div>
</div>

<div>
  <div class="two columns">
    <cs-unitfield model="visualProperties.boxShadow.blurRadius" placeholder="{{::localization.componentProperties.blurRadius}}"></cs-unitfield>
    <cs-unitfield model="visualProperties.boxShadow.spreadRadius" placeholder="{{::localization.componentProperties.spreadRadius}}"></cs-unitfield>
  </div>
</div>
<label>
  Inner Shadow <input type="checkbox" ng-model="visualProperties.boxShadow.inset" title="{{::localization.componentProperties.innerShadow}}" />
</label>