@import "component/link";
@import "component/rss";
@import "component/text";
@import "component/sharer";
@import "component/video";
@import "component/youTube";
@import "component/gmail";

cs-component {
  @include transform-origin(top left);
  border-collapse: separate;
  display: table;
  height: 50px;
  position: absolute;
  width: 50px;
  z-index: 1;

  &.hidden {
    display: none;
  }

  /*> div:first-child {
    display: table;
    height: 100%;
    width: 100%;
    text-decoration: inherit;
  }*/
}
