cs-componentproperties {
  background-color: $controlBackgroundColor;
  border: 1px solid $borderColor;
  bottom: 82px;
  display: block;
  font-family: 'Droid Sans';
  position: fixed;
  right: 0;
  top: 85px;
  z-index: 4;

  > .component-properties-container {
    border-radius: inherit;
    font-size: 13px;
    height: 100%;
    min-width: 200px;
    overflow: auto;
    position: static;
    width: 200px;
  }

  /*fieldset {
    border: 0;
    margin: 0 0 0.5rem;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.2);

    > legend {
      display: block;
      height: 40px;
      line-height: 40px;
      background-color: #303030;
      width: 100%;
      color: #C5C5C5;
    }
  }*/

  .columns {
  }

  .two > input,
  .two > select {
    @include span-columns(6);
  }

  .three > input,
  .three > select {
    @include span-columns(4);
  }

  .four > input,
  .four > select {
    @include span-columns(3);
  }

  .five > input,
  .five > select {
    @include span-columns(2.4);
  }
}
