cs-componentplugins {
  position: fixed;
  bottom: 100%;
  width: 100%;
  z-index: 9999;

  > .container {
    @include transform(translateY(100%));
    @include transition(all 0.3s);
    background-color: $controlBackgroundColor;
    border-bottom: 1px solid $borderColor;
    padding-top: 10px;

    &.collapsed {
      @include transform(translateY(0));
    }

    .expand-collapse-section {
      text-align: center;

      > a {
        @include button(white, black);
        height: 20px;
        margin-bottom: -20px;
        width: 30px;
      }
    }

    .component-plugins {
      margin: 0;

      > .component-plugin {
        cursor: move;
        display: inline-block;
        font-size: 12px;
        font-family: Arial;
        margin-right: 20px;
        position: relative;
        text-align: center;
        vertical-align: top;
        width: 50px;

        > img {
          @include transition(all 0.3s);
          box-shadow: 0 0 5px 0 rgba(127, 127, 127, 0.5);
        }

        &.ui-draggable {
          z-index: 9999;
        }

        &:hover > img,
        &.ui-draggable-dragging {
          &::before {
            content: "";
            padding: 0;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 16px;
            height: 16px;
            background-color: green;
            border-radius: 50%;
          }

          &::after {
            content: "+";
            color: white;
            font-size: 16px;
            line-height: 14px;
            font-family: Impact;
            margin-left: 3px;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
          }

          img {
            opacity: 1;
          }

          > span {
            display: none;
          }
        }
      }
    }
  }
}

.edit-content cs-components {
  display: none;
}
