@font-face
{
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-j9p20d');
	src:url('fonts/icomoon.eot?#iefix-j9p20d') format('embedded-opentype'),
		url('fonts/icomoon.woff?-j9p20d') format('woff'),
		url('fonts/icomoon.ttf?-j9p20d') format('truetype'),
		url('fonts/icomoon.svg?-j9p20d#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
.icon-base
{
	font-family: 'icomoon';
	font-size: 14px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-align-left:before {
	content: "\e600";
}
.icon-align-center:before {
	content: "\e601";
}
.icon-align-right:before {
	content: "\e602";
}
.icon-align-justify:before {
	content: "\e603";
}
.icon-angle-double-left:before {
	content: "\e604";
}
.icon-angle-double-right:before {
	content: "\e605";
}
.icon-angle-down:before {
	content: "\e606";
}
.icon-angle-left:before {
	content: "\e607";
}
.icon-angle-right:before {
	content: "\e608";
}
.icon-angle-up:before {
	content: "\e609";
}
.icon-arrows:before {
	content: "\e60a";
}
.icon-arrows-alt:before {
	content: "\e60b";
}
.icon-arrows-h:before {
	content: "\e60c";
}
.icon-arrows-v:before {
	content: "\e60d";
}
.icon-bold:before {
	content: "\e60e";
}
.icon-bug:before {
	content: "\e60f";
}
.icon-calendar:before {
	content: "\e610";
}
.icon-check-square-o:before {
	content: "\e611";
}
.icon-chevron-down:before {
	content: "\e612";
}
.icon-chevron-up:before {
	content: "\e613";
}
.icon-circle-thin:before {
	content: "\e614";
}
.icon-code:before {
	content: "\e615";
}
.icon-compress:before {
	content: "\e616";
}
.icon-copy:before {
	content: "\e617";
}
.icon-crop:before {
	content: "\e618";
}
.icon-css3:before {
	content: "\e619";
}
.icon-desktop:before {
	content: "\e61a";
}
.icon-dot-circle-o:before {
	content: "\e61b";
}
.icon-edit:before {
	content: "\e61c";
}
.icon-expand:before {
	content: "\e61d";
}
.icon-external-link:before {
	content: "\e61e";
}
.icon-eye:before {
	content: "\e61f";
}
.icon-eye-slash:before {
	content: "\e620";
}
.icon-facebook:before {
	content: "\e621";
}
.icon-file-o:before {
	content: "\e622";
}
.icon-file-photo-o:before {
	content: "\e623";
}
.icon-file-text-o:before {
	content: "\e624";
}
.icon-filter:before {
	content: "\e625";
}
.icon-flickr:before {
	content: "\e626";
}
.icon-folder:before {
	content: "\e627";
}
.icon-folder-o:before {
	content: "\e628";
}
.icon-folder-open:before {
	content: "\e629";
}
.icon-folder-open-o:before {
	content: "\e62a";
}
.icon-font:before {
	content: "\e62b";
}
.icon-gear:before {
	content: "\e62c";
}
.icon-github:before {
	content: "\e62d";
}
.icon-globe:before {
	content: "\e62e";
}
.icon-google-plus:before {
	content: "\e62f";
}
.icon-group:before {
	content: "\e630";
}
.icon-home:before {
	content: "\e631";
}
.icon-html5:before {
	content: "\e632";
}
.icon-italic:before {
	content: "\e633";
}
.icon-keyboard-o:before {
	content: "\e634";
}
.icon-laptop:before {
	content: "\e635";
}
.icon-linkedin-square:before {
	content: "\e636";
}
.icon-list-ol:before {
	content: "\e637";
}
.icon-list-ul:before {
	content: "\e638";
}
.icon-lock:before {
	content: "\e639";
}
.icon-mail-forward:before {
	content: "\e63a";
}
.icon-map-marker:before {
	content: "\e63b";
}
.icon-minus:before {
	content: "\e63c";
}
.icon-mobile-phone:before {
	content: "\e63d";
}
.icon-navicon:before {
	content: "\e63e";
}
.icon-paperclip:before {
	content: "\e63f";
}
.icon-pencil:before {
	content: "\e640";
}
.icon-photo:before {
	content: "\e641";
}
.icon-plus:before {
	content: "\e642";
}
.icon-quote-left:before {
	content: "\e643";
}
.icon-quote-right:before {
	content: "\e644";
}
.icon-refresh:before {
	content: "\e645";
}
.icon-rotate-left:before {
	content: "\e646";
}
.icon-rotate-right:before {
	content: "\e647";
}
.icon-rss:before {
	content: "\e648";
}
.icon-save:before {
	content: "\e649";
}
.icon-search:before {
	content: "\e64a";
}
.icon-share-square-o:before {
	content: "\e64b";
}
.icon-sign-in:before {
	content: "\e64c";
}
.icon-sign-out:before {
	content: "\e64d";
}
.icon-sitemap:before {
	content: "\e64e";
}
.icon-sliders:before {
	content: "\e64f";
}
.icon-sort-alpha-asc:before {
	content: "\e650";
}
.icon-sort-alpha-desc:before {
	content: "\e651";
}
.icon-sort-amount-asc:before {
	content: "\e652";
}
.icon-sort-amount-desc:before {
	content: "\e653";
}
.icon-square-o:before {
	content: "\e654";
}
.icon-stack-overflow:before {
	content: "\e655";
}
.icon-strikethrough:before {
	content: "\e656";
}
.icon-tablet:before {
	content: "\e657";
}
.icon-tag:before {
	content: "\e658";
}
.icon-tags:before {
	content: "\e659";
}
.icon-thumb-tack:before {
	content: "\e65a";
}
.icon-trash-o:before {
	content: "\e65b";
}
.icon-trash-o2:before {
	content: "\e65c";
}
.icon-trello:before {
	content: "\e65d";
}
.icon-twitter:before {
	content: "\e65e";
}
.icon-underline:before {
	content: "\e65f";
}
.icon-unlock:before {
	content: "\e660";
}
.icon-unlock-alt:before {
	content: "\e661";
}
.icon-user:before {
	content: "\e662";
}
.icon-video-camera:before {
	content: "\e663";
}
.icon-youtube:before {
	content: "\e664";
}
