$danger: #d9534f;
$dangerContent: white;
$dangerLight: #f9f2f4;
$dangerContentLight: #a94442;
$info: #54bc75;
$infoLight: #5cb85c;
$infoContent: white;
$warning: #f0ad4e;
$warningContent: black;
$setting: #428bca;
$settingContent: white;

$activeColor: $setting;

$borderColor: #ccc;
$formTextColor: #555;

$disabledColor: #ccc;

$menuBackgroundColor: white;
$menuItemHightlightColor: #f5f5f5;

$controlBackgroundColor: #eaeaea;
$darkControlBackgroundColor: darken($controlBackgroundColor, 10%);