cs-unitfield {
  $unitFieldTypeWidth: rem(50);
  font-size: 0;
  width: 100%;
  //min-width: rem(80);
  //max-width: rem(175);
  white-space: nowrap;

  input[type="text"] {
    @include calc("width", "100% - #{$unitFieldTypeWidth}");

    //min-width: $unitFieldTypeWidth;
    padding: 0 rem(10);
  }

  select {
    width: $unitFieldTypeWidth;
    padding: 0;
    border-radius: 0;
  }
}