$font-family: "Droid Sans", Tahoma;

$base-layer: 0;
$layer-1: 1;
$layer-2: 2;
$layer-3: 3;
$layer-4: 4;
$layer-5: 5;

$defaultFontSize: rem(12);

$inputHeight: rem(30);
$swift-out-easing: cubic-bezier(0.55, 0, 0.1, 1);
$input-background-color: white;