@import
  "reset",
  "bourbon",
  "neat",

  "variables",
  "palette",
  "font",

  "button",
  "checkbox",
  "components",
  "componentPlugins",
  "templateResolutions",
  "componentActions",
  "componentProperties",
  "treeView",
  "buttonDropdown",
  "unitField",
  "icon",

  "jquery-ui";

html, body {
  @include user-select(none);
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url(../images/background.png);
}

.bold {
  font-weight: bold;
}

.underlined {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.button-container {
  background-color: $controlBackgroundColor;
  bottom: 0;
  font-family: $font-family;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: $layer-3;

  .default-button,
  .danger-button {
    font-size: 14px;
  }
}

.edit-design {
  bottom:80px;
  overflow: auto;
  padding-bottom: 50px;
  position: absolute;
  top: 86px;
  width: 100%;
  z-index: $layer-1;
}

cs-template {
  background-image: url("../images/grid.png");
  margin: 40px 0 0 40px;
  max-width: 1024px;
  min-height: 600px;
  box-shadow: 0 0 20px 1px #333;
}

.show-hidden-elements cs-component[style*="display"] {
  display: table !important;
  opacity: 0.3 !important;
  outline: 10px dotted red !important;
  background-color: #bbb !important;
}

cs-template.animatable > cs-component {
  @include transition(all 0.2s);
}

/* EditDesign specific rules */
.edit-design cs-template > cs-component {
  background-color: rgba(200, 200, 200, 0.4);

  will-change: auto;

  &.ui-resizable-resizing,
  &.ui-draggable-dragging {
    @include transition(none);
  }

  &.selected {
    cursor: move;
    will-change: left, top, right, bottom, opacity;
    z-index: 10000 !important;
  }

  &.ui-draggable-dragging {
    opacity: 0.5;
    z-index: $layer-2;
  }
}

.edit-design cs-component.authorization .authorizeContainer {
  display: none;
}