<div>
	<label ng-bind="::Localization.TemplateControlProperties.Typeface"></label>
	<select ng-change="PropertyChanged()" ng-model="VisualProperties.fontFamily" class="dropdown-list" ng-options="font for font in FontFamilies"></select>
</div>

<div>
	<label ng-bind="::Localization.TemplateControlProperties.Size"></label>
	<input type="text" ng-change="PropertyChanged()" ng-model="VisualProperties.fontSize" />
</div>

<div>
	<label ng-bind="::Localization.TemplateControlProperties.Color"></label>
	<input type="text" ng-change="PropertyChanged()" ng-model="VisualProperties.color" ng-attr-placeholder="{{::Localization.TemplateControlProperties.Color}}" />
</div>

<div>
	<label ng-bind="::Localization.TemplateControlProperties.TextTransform"></label>
	<!--<div class="btn-group" ng-click="PropertyChanged()">
		<div ng-model="VisualProperties.fontWeight" class="btn btn-xs btn-default" data-btn-checkbox data-btn-checkbox-true="'bold'" data-btn-checkbox-false="''"><span class="glyphicon glyphicon-bold"></span></div>
		<div ng-model="VisualProperties.textDecoration" class="btn btn-xs btn-default" data-btn-checkbox data-btn-checkbox-true="'underline'" data-btn-checkbox-false="''"><span class="glyphicon glyphicon-text-width"></span></div>
		<div ng-model="VisualProperties.fontStyle" class="btn btn-xs btn-default" data-btn-checkbox data-btn-checkbox-true="'italic'" data-btn-checkbox-false="''"><span class="glyphicon glyphicon-italic"></span></div>
	</div>-->
	<!--<div ng-click="PropertyChanged()" class="text-align">
		<input type="radio" name="text-align" ng-model="VisualProperties.textAlign" ng-value="'left'" />
		<input type="radio" name="text-align" ng-model="VisualProperties.textAlign" ng-value="'center'" />
		<input type="radio" name="text-align" ng-model="VisualProperties.textAlign" ng-value="'right'" />
	</div>-->
</div>

<div>
	<label ng-bind="::Localization.TemplateControlProperties.TextAlign"></label>
	<div ng-click="PropertyChanged()" class="text-align">
		<label><input type="radio" name="text-align" ng-model="VisualProperties.textAlign" ng-value="'left'" /><span></span></label>
		<label><input type="radio" name="text-align" ng-model="VisualProperties.textAlign" ng-value="'center'" /><span></span></label>
		<label><input type="radio" name="text-align" ng-model="VisualProperties.textAlign" ng-value="'right'" /><span></span></label>
	</div>
</div>

<div>
	<label ng-bind="::Localization.TemplateControlProperties.NoWrap"></label>
	<input type="checkbox" ng-model="VisualProperties.whiteSpace" ng-change="PropertyChanged()" ng-true-value="'nowrap'" ng-false-value="undefined" />
</div>

<div>
	<label ng-bind="::Localization.TemplateControlProperties.Scrollable"></label>
	<input type="checkbox" ng-model="VisualProperties.overflow" ng-change="PropertyChanged()" ng-true-value="'auto'" ng-false-value="undefined" />
</div>