<div>
	<label ng-bind="::Localization.Component.RSS.Url"></label>
	<input type="text" ng-model="Content.RSSFeedUrl" />
</div>

<div>
	<label ng-bind="::Localization.Component.RSS.MaxStories"></label>
	<input type="text" ng-model="Content.MaxStories" />
</div>

<div>
	<label ng-bind="::Localization.Component.RSS.ShowTitle">Show Title</label>
	<input type="checkbox" ng-model="Content.ShowTitle" />
</div>

<div>
	<label ng-bind="::Localization.Component.RSS.ShowDescription"></label>
	<input type="checkbox" ng-model="Content.ShowDescription" />
</div>

<div>
	<label ng-bind="::Localization.Component.RSS.ShowStoryDescription"></label>
	<input type="checkbox" ng-model="Content.ShowStoryDescription" />
</div>

<div>
	<label ng-bind="::Localization.Component.RSS.ShowStoryDate"></label>
	<input type="checkbox" ng-model="Content.ShowStoryDate" />
</div>