<div class="article-list" ng-class="ClassMap">
	<div ng-repeat="menuItem in MenuItems|limitTo:ControlData.MaxArticles" ng-href="/?Id={{menuItem.Id}}">
		<a href ng-href="/?Id={{menuItem.Id}}">
			<img ng-src="{{GetImageSource(menuItem, $index)}}" ng-show="ControlData.ShowImage" />
		</a>
		<span class="title" ng-bind="menuItem.Name" ng-show="ControlData.ShowTitle"></span>
		<span class="description-container">
			<span class="description" ng-bind="menuItem.Description" ng-show="ControlData.ShowDescription" />
			<a href ng-href="/?Id={{menuItem.Id}}" ng-bind="ControlData.MoreLabel" ng-show="ControlData.ShowMoreLink && ControlData.MoreLabel" />
		</span>
	</div>
</div>