@import "bourbon";
@import "neat";

@import "templateeditor/css/variables";
@import "templateeditor/css/reset";

html,
body {
  font-family: Tahoma;
  font-size: 16px;
}

a {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.page-content {
  max-width: 650px;
  padding: 20px;
}

.introduction {
  margin-bottom: 3rem;
}

h1 {
  font-size: 3rem;
}

.ng-cloak,
.hidden {
  display: none !important;
}

.warning {
  color: red;
}

.list {
  border: 1px solid #ddd;
  border-radius: 5px;
  display: table;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;

  li {
    display: table-row;
    width: 100%;

    > a,
    .button-group {
      border-bottom: 1px solid #ddd;
      display: table-cell;
      overflow: hidden;
      padding: 1rem;
      white-space: nowrap;
      vertical-align: middle;
    }

    > a {
      min-width: 100px;
      text-overflow: ellipsis;
    }

    .button-group {
      text-align: right;
      width: 100%;
    }

    &:last-child > a,
    &:last-child .button-group {
      border-bottom: none;
    }
  }

  li.empty-list-message:last-child {
    display: table-row;

    i {
      display: block;
      padding: 1rem;
    }
  }
}

.actions {
  margin-bottom: 1rem;
}

input,
select,
button {
  padding: 8px;
  height: 35px;
  border: 1px solid #bdbdbd;
  display: inline-block;
  vertical-align: middle;
}