<link href="demo.css" rel="stylesheet" />

<section class="page-content">
    <h1>TemplateEngine Demo</h1>
    <div class="introduction">
      <p>
        Welcome! TemplateEngine is a templating tool that helps you build web applications using web components. 
      </p>
      <p>
        This demo will help you get acquainted with the TemplateEngine Editor through hands-on experience. Simply create a template using one
        of the presets below and go wild!
      </p>
      <p>
        For ideas on how TemplateEngine can be applied in real world applications, please check out the wiki pages on <a href="https://github.com/AgronKabashi/TemplateEngine" target="_blank">GitHub</a>.
      </p>
    </div>

    <div class="actions">
      <select ng-model="templatePreset" ng-options="templatePreset.Name for templatePreset in TemplatePresets">
        <option value="">Blank Template</option>
      </select>
      <input type="text" placeholder="Enter a template name" ng-model="newTemplateName" />
      <button ng-click="AddTemplate(templatePreset)">Add Template</button>
  </div>
    <ul class="list">
       <li class="empty-list-message" ng-class="{hidden: Templates && Templates.length}">
        <i>No Templates</i>
      </li>

      <li ng-repeat="template in Templates track by template.Id" class="ng-cloak" ng-cloak>
        <a ng-bind="template.Name" ui-sref="View({Id: template.Id})"></a>
        <div class="button-group">
          <a ui-sref="Design({Id: template.Id})">Edit</a>
          <a ng-click="RemoveTemplate(template)">Remove</a>
        </div>
    </ul>
  </section>