<!DOCTYPE html>
<html ng-app="Demo">
<head>
	<link href="demo.css" rel="stylesheet" />
	<link href="http://fonts.googleapis.com/css?family=Ropa+Sans|Roboto:400,300|Droid+Sans:400,700|Rouge+Script" rel="stylesheet" type="text/css">
</head>
<body ng-controller="DemoController">
	<section class="page-content">
		<h1>TemplateEngine Demo</h1>
		<div class="introduction">
			<p>
				Welcome! TemplateEngine is a powerful HTML5 templating framework that helps you build web applications using HTML, CSS, and Javascript!
			</p>
			<p>
				This demo will help you get acquainted with the TemplateEngine Editor through hands-on experience. Simply create a template using one
				of the presets below and go wild!
			</p>
			<p>
				For ideas on how TemplateEngine can be applied in real world applications, please check out the wiki pages on <a href="https://github.com/AgronKabashi/TemplateEngine" target="_blank">GitHub</a>.
			</p>
		</div>

		<select ng-model="templatePreset" ng-options="templatePreset.Name for templatePreset in TemplatePresets">
			<option value="">Blank Template</option>
		</select>

		<button ng-click="AddTemplate(templatePreset)">Add Template</button>

		<ul class="list">
			<li class="list-header">
				<span>Name</span>
				<span></span>
			</li>
			<li ng-repeat="template in Templates track by template.Id" class="ng-cloak" ng-cloak>
				<span ng-bind="template.Name"></span>
				<div class="button-group">
					<a ng-href="./TemplateEditor/#/Template/{{template.Id}}">Edit</a>
					<a href="#" ng-click="RemoveTemplate(template)">Remove</a>
				</div>
			</li>
			<li ng-class="{hidden: Templates && Templates.length}">
				<i>No Templates</i>
			</li>
		</ul>
	</section>

	<script src="./TemplateEditor/Dependencies/Extensions.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
	<script src="./TemplateEngine/Model/Template.js"></script>
	<script src="./TemplateEngine/Model/Resolution.js"></script>
	<script>
		angular
			.module("Demo", [])
			.service("TemplatePresetsService", function ($http)
			{
				var presets = [];

				this.GetPresets = function ()
				{
					$http
						.get("template-presets.json")
						.then(function (response)
						{
							angular.extend(presets, response.data.TemplatePresets);
						});

					return presets;
				};
			})
			.controller("DemoController", function ($scope, TemplatePresetsService)
			{
				var repo = JSON.parse(localStorage.getItem("TemplateRepository")) || { Templates: {} };

				$scope.TemplatePresets = TemplatePresetsService.GetPresets();

				function updateLocalStorage()
				{
					localStorage.setItem("TemplateRepository", JSON.stringify(repo));
				}

				function initializeTemplates()
				{
					$scope.Templates = _.map(repo.Templates, function (template)
					{
						return template;
					});
				}

				initializeTemplates();

				$scope.AddTemplate = function (templatePreset)
				{
					var template;

					if (templatePreset)
					{
						template = angular.extend({}, templatePreset.Data);
						template.Name = templatePreset.Name;
					}
					else
					{
						template = new Cerberus.Tool.TemplateEngine.Model.Template();
						template.Name = "Template";
						template.Resolutions.push(new Cerberus.Tool.TemplateEngine.Model.Resolution());
					}

					template.Id = ~~_.max($scope.Templates, function (template)
					{
						return template.Id;
					}).Id + 1;

					$scope.Templates.push(template);

					repo.Templates[template.Id] = template;

					updateLocalStorage();
				};

				$scope.RemoveTemplate = function (template)
				{
					delete repo.Templates[template.Id];
					updateLocalStorage();
					initializeTemplates();
				};
			});
	</script>
</body>
</html>
