cs-component.sharer {
  font-size: 0;

  > .social-media-icon {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    margin-right: 1px;
    border-radius: 3px;

    &.facebook {
      background-image: url(../images/facebook.png);
    }

    &.twitter {
      background-image: url(../images/twitter.png);
    }

    &.google-plus {
      background-image: url(../images/googleplus.png);
    }
  }
}
